@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="headline">AMERICAN RIFLEMAN</div>
                <p>@Umbraco.Field("footerContent")</p>
            </div>
            <div class="col-md-4">
                <div class="headline">NRA PUBLICATIONS</div>

            </div>
            <div class="col-md-4">
                <div class="follow-container">
                    <div class="headline">FOLLOW AMERICAN RIFLEMAN</div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="share-icon pull-left"><a href="http://www.facebook.com/AmericanRifleman" target="_blank"><i class="fa fa-facebook"></i></a></div>
                            <div class="share-icon pull-left"><a href="https://twitter.com/NRA_Rifleman" target="_blank"><i class="fa fa-twitter"></i></a></div>
                            <div class="share-icon pull-left"><a href="http://www.youtube.com/NRApubs" target="_blank"><i class="fa fa-youtube"></i></a></div>
                            <div class="share-icon pull-left"><a href="https://plus.google.com/114571623465511018944/posts" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="stay-informed-container">
                    <div class="headline">STAY INFORMED</div>
                    <p>Received important and timely information about firearms education and training.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-copyright">@Umbraco.Field("footerLegalText")</div>
            </div>
        </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/scripts/idangerous.swiper.min.js"></script>

</body>
</html>