@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="summary-section">

    <h2>Extras</h2>

    <div class="summary-item">
        <div class="row">
            <div class="col-sm-4">
                <div class="summary-img"><img src="http://fpoimg.com/720x400" /></div>
            </div>
            <div class="col-sm-8">
                <div class="summary-category">HANDGUNS</div>
                <h3>Smith &amp; Wesson's "Impossible Shots"</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis tristique viverra. Donec eleifend porta dignissim. Duis ullamcorper nunc et mi porttitor maximus. Vestibulum condimentum, leo id sagittis aliquam, nisl leo tincidunt elit, sed commodo odio risus at sem. Duis ullamcorper nibh sit amet tortor convallis, at viverra massa consectetur. Aliquam commodo convallis eros et ullamcorper. Integer imperdiet massa non magna porta, eu vehicula magna tempus. Proin sollicitudin mauris a eros pharetra, id consectetur tortor faucibus.</p>
            </div>
        </div>
    </div>
    <div class="summary-item">
        <div class="row">
            <div class="col-sm-4">
                <div class="summary-img"><img src="http://fpoimg.com/720x400" /></div>
            </div>
            <div class="col-sm-8">
                <div class="summary-category">HANDGUNS</div>
                <h3>Remington R1 Carry Commander</h3>
                <p>Aliquam commodo convallis eros et ullamcorper. Integer imperdiet massa non magna porta, eu vehicula magna tempus. Proin sollicitudin mauris a eros pharetra, id consectetur tortor faucibus. Etiam eleifend justo dui, nec lacinia eros sodales vel. Curabitur ullamcorper pulvinar felis semper tincidunt.</p>
            </div>
        </div>
    </div>
    <div class="summary-item">
        <div class="row">
            <div class="col-sm-4">
                <div class="summary-img"><img src="http://fpoimg.com/720x400" /></div>
            </div>
            <div class="col-sm-8">
                <div class="summary-category">HANDGUNS</div>
                <h3>Benelli Ethos Review</h3>
                <p>Duis ullamcorper nunc et mi porttitor maximus. Vestibulum condimentum, leo id sagittis aliquam, nisl leo tincidunt elit, sed commodo odio risus at sem. Duis ullamcorper nibh sit amet tortor convallis, at viverra massa consectetur. Aliquam commodo convallis eros et ullamcorper. Integer imperdiet massa non magna porta, eu vehicula magna tempus. Proin sollicitudin mauris a eros pharetra, id consectetur tortor faucibus. Etiam eleifend justo dui, nec lacinia eros sodales vel. Curabitur ullamcorper pulvinar felis semper tincidunt.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a href="#"><div class="load-more"><h3>Load More Extras</h3></div></a>
        </div>
    </div>

</div>


