@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="homepage-video">
    <div class="container">
        <h2>Featured Videos</h2>
        <img src="http://fpoimg.com/1170x460?text=Video Area" />
        <div class="summary-category">HANDGUNS</div>
        <h3>Remington R1 Carry Commander</h3>
        <p>Aliquam commodo convallis eros et ullamcorper. Integer imperdiet massa non magna porta, eu vehicula magna tempus. Proin sollicitudin mauris a eros pharetra, id consectetur tortor faucibus. Etiam eleifend justo dui, nec lacinia eros sodales vel. Curabitur ullamcorper pulvinar felis semper tincidunt.</p>
    </div>
</div>

