@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="homepage-trending">
    <div class="container">
        <h2>Trending</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="summary-img"><img src="http://fpoimg.com/720x400" /></div>
                <div class="summary-category">HANDGUNS</div>
                <h4>Smith &amp; Wesson's "Impossible Shots" Season Premiers This October</h4>
            </div>
            <div class="col-sm-3">
                <div class="summary-img"><img src="http://fpoimg.com/720x400" /></div>
                <div class="summary-category">BLOGS</div>
                <h4>A New U.S. Military Handgun?  Meet The Modular Handgun System</h4>
            </div>
            <div class="col-sm-3">
                <div class="summary-img"><img src="http://fpoimg.com/720x400" /></div>
                <div class="summary-category">HANDGUNS</div>
                <h4>Caligornia Waiting Period Deemed Unconstitutional for Existing Gun Owners</h4>
            </div>
            <div class="col-sm-3">
                <div class="summary-img"><img src="http://fpoimg.com/720x400" /></div>
                <div class="summary-category">AMMUNITION</div>
                <h4>Nosler Accubond Long Range Bullets</h4>
            </div>
        </div>
    </div>
</div>
