@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="homepage-ads">

    <div class="homepage-ad">
        <img src="http://fpoimg.com/720x500" />
    </div>
    <div class="homepage-ad">
        <img src="http://fpoimg.com/720x500" />
    </div>
    <div class="homepage-ad">
        <img src="http://fpoimg.com/720x500" />
    </div>

</div>


