@inherits umbraco.MacroEngines.DynamicNodeContext

<div class="footer">
	<div class="container">
		<!-- <p class="text-muted">footerContent</p> -->
		<p class="footer-copyright text-muted">&reg; Copyright 2014</p>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>	
<script src="/scripts/idangerous.swiper.min.js"></script>

<script>
    $(function () {
        var mySwiper = new Swiper('.swiper-container', {
            pagination: '.pagination',
            paginationClickable: true,
            calculateHeight: true
        });
    });
</script>

</body>
</html>