@inherits umbraco.MacroEngines.DynamicNodeContext

<div class="footer">
	<div class="container">
		<!-- <p class="text-muted">footerContent</p> -->
		<p class="footer-copyright text-muted">&reg; Copyright 2014</p>
	</div>
</div>

</body>
</html>