@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@


@if (Model.HasValue("galleryImages"))
{
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var item in Model.GetProperty("galleryImages").Value.Split(','))
            {
                <div class="swiper-slide">
                    <div><img src="@Model.MediaById(@item).umbracoFile" alt="Gallery Image" class="full-width" /></div>
                </div>
                <div class="pull-left"></div>
            }
        </div>
        <div class="pagination"></div>
    </div>  
}