/*
@blue-light: #3daeff;
@blue-dark: #133853;
@gray-light: #83898f;
@gray-dark: #212121;
*/

/* global styles */
body {color: #212121;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {margin-top: 10px; margin-bottom: 10px; font-weight: 800;}
.summary-category {color: red; font-size: 12px;}

/* section styles */
.swiper-container {width:100%; height: 500px;}
.swiper-slide { }
/*
.swiper-slide .title{font-style:italic;font-size:20px;margin-top:80px;margin-bottom:0;line-height:45px;}
.swiper-pagination-switch{display:inline-block;width:8px;height:8px;border-radius:8px;background:#222;margin-right:5px;opacity:0.8;border:1px solid #fff;cursor:pointer;}
.swiper-visible-switch{background:#aaa;}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
.swiper-active-switch{background:#ff0000;}
*/
.slide-content {position:relative; height: 500px; width: 400px;}
.slide-copy {position: absolute; bottom: 0; left: 0; width: 400px; height: 200px; padding: 0 20px 20px 20px;}
.slide-title a {color: #ff3300;}
.slide-title a:hover {color: #cc3300;}
.slide-category {color: #fff; font-size: 12px;}
.slide-summary {color:#fff;}




.top-bar {color: #83898f; background-color: #212121; padding: 4px 0 4px 0;}
.top-bar a {color: #ccc;}
.top-bar a:hover {color: #fff;}
.top-bar .share-icon {margin-right: 10px;}
.top-bar .share-icon a {color: #83898f;}
.top-bar .share-icon a:hover {color: #eee;}
.top-bar .more-nra {margin: 0 10px 0 10px;}
.top-bar .login-register {margin: 0 0 0 20px;}

.nav-bar {height: 90px; color: #fff; background-color: #133853; }
.nav-bar a {color: #eee;}
.nav-bar a:hover {color: #fff;}
.nav-bar .menu-btn {font-size: 20px; margin: 20px 0 0 0;}
.nav-bar .logo {margin: 20px 0 0 0;}
.nav-bar .search-icon {font-size: 20px; margin: 28px 0 0 0;}

.footer {background-color: #212121; color: #fff; padding: 20px 0 20px 0;}
.footer .headline {font-size:18px; font-weight:800; color: #fff; margin-bottom: 20px;}
.footer .share-icon {margin-right: 20px; font-size: 18px;}
.footer .share-icon a {color: #83898f;}
.footer .share-icon a:hover {color: #eee;}
.footer .follow-container {margin-bottom: 20px;}
.footer .footer-copyright {font-size: 10px; margin-top: 20px;}
.footer .footer-pub-logo {margin-bottom: 20px;}

.homepage-trending {margin-bottom: 20px;}
.homepage-more {padding: 20px 0 20px 0; background-color: #f5f5f5;}
.summary-img img {width: 100%; height: auto;}
.summary-category {margin-top: 20px;}

.summary-section {margin-bottom: 40px;}
.summary-section .summary-item {margin-bottom: 20px;}
.summary-section .summary-img img {width: 100%; height: auto;}
.summary-section .summary-category {margin-top: 5px;}

.homepage-video {margin-bottom: 40px;}
.homepage-video img {width: 100%; height: auto;}

.homepage-ads {}
.homepage-ads .homepage-ad {margin-bottom: 20px;}
.homepage-ads img {width: 100%; height: auto;}

.inline-ads { margin-bottom: 20px;}
.inline-ads .inline-ad {text-align: center; margin-bottom: 20px;}
.inline-ads img {width: 100%; height: auto;}


/* misc styles */
.full-width {width:100%; height: auto;}
.load-more {
  text-align: center; 
  padding: 5px;
  color:#fff;
  background-color: #212121;
  -o-transition: background-color .2s ease-in;
  -ms-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}
.load-more:hover {background-color: #133853;}
.load-more a, a:hover {color: #fff; text-decoration: none;}

/* bootstrap override */
.navbar-inverse .navbar-brand {color: #ccc;}
.navbar-inverse .navbar-nav>li>a {color: #ccc;}
.breadcrumb {background-color: #fff; padding: 10px 0 0 0; margin-bottom: 0; text-transform: uppercase;}
.breadcrumb a {color: red;}
.breadcrumb a:hover {text-decoration: underline;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}