/*
@blue-dark: #133853;
@gray-light: #83898f;
@gray-dark: #212121;
*/

body {color: #212121;}

.footer {background-color: #212121; color: #fff; padding: 20px 0 20px 0;}
.footer-copyright {color: #666; font-size: 10px;}
.full-width {width: 100%; height: auto;}

.swiper-container{width:100%; height: 100%; text-align:center; border: 1px solid #eee;}
swiper-slide .title{font-style:italic;font-size:42px;margin-top:80px;margin-bottom:0;line-height:45px;}
.swiper-pagination-switch{display:inline-block;width:8px;height:8px;border-radius:8px;background:#222;margin-right:5px;opacity:0.8;border:1px solid #fff;cursor:pointer;}
.swiper-visible-switch{background:#aaa;}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
.swiper-active-switch{background:#ff0000;}


.top-bar {color: #83898f; background-color: #212121; padding: 4px 0 4px 0;}
.top-bar a {color: #ccc;}
.top-bar a:hover {color: #fff;}
.top-bar .share-icon {margin-right: 10px;}
.top-bar .share-icon a {color: #83898f;}
.top-bar .share-icon a:hover {color: #eee;}
.top-bar .more-nra {margin: 0 10px 0 10px;}
.top-bar .login-register {margin: 0 0 0 20px;}

.nav-bar {height: 90px; color: #fff; background-color: #133853; }
.nav-bar a {color: #eee;}
.nav-bar a:hover {color: #fff;}
.nav-bar .menu-btn {font-size: 32px; margin: 20px 0 0 0;}
.nav-bar .logo {margin: 20px 0 0 0;}
.nav-bar .search-icon {font-size: 18px; margin: 28px 0 0 0;}

.footer {color: #83898f;}
.footer .headline {font-size:16px; font-weight:800; color: #fff;}
.footer .share-icon {margin-right: 20px; font-size: 22px;}
.footer .share-icon a {color: #83898f;}
.footer .share-icon a:hover {color: #eee;}
.footer .follow-container {margin-bottom: 20px;}
.footer .footer-copyright {font-size: 10px; margin-top: 20px;}



/* misc styles */
.full-width {width:100%; height: auto;}


/* bootstrap override */
.navbar-inverse .navbar-brand {color: #ccc;}
.navbar-inverse .navbar-nav>li>a {color: #ccc;}