<security allowRemoteDownloads="true" timeout="300000" maxBytes="4194304" remotePrefix="/remote.axd">
  <!-- Sets allowable domains to process images from. -->
  <whiteList>
    <add url="http://sharedcontent-stage.videodigm.com"/>
    <add url="http://sharedmedia-stage.videodigm.com"/>
    <add url="http://dcpr00gbauvhc.cloudfront.net"/>
  </whiteList>
</security>